# Django Settings
DEBUG=True
SECRET_KEY=django-insecure-local-dev-key-change-this-in-prod
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# Database Settings
DATABASE_URL=postgres://forever_user:forever_pass@db:5432/forever_db

# POSTGRES (Used by Docker)
POSTGRES_DB=forever_db
POSTGRES_USER=forever_user
POSTGRES_PASSWORD=forever_pass
